[submodule "80s-pacman"]
	path = 80s-pacman
	url = git@github.com:akDeveloper/80s-pacman.git
[submodule "card-games"]
	path = card-games
	url = git@github.com:akDeveloper/card-games.git
[submodule "70s-space-invaders"]
	path = 70s-space-invaders
	url = git@github.com:akDeveloper/70s-space-invaders.git
[submodule "snake-game-clone"]
	path = snake-game-clone
	url = git@github.com:akDeveloper/snake-game-clone.git
[submodule "galaga-clone"]
	path = galaga-clone
	url = git@github.com:akDeveloper/galaga-clone.git
